@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-kit-section {
    background-color: white;
}

.vr-kit-heading {
    color: #1f2933;
    font-size: 26px;
    font-weight: bold;
    font-family: "roboto";
}

.kit-img {
    height: 250px;
    width: 200px;
}

.kit-name {
    color: #323f4b;
    font-family: "roboto";
    font-weight: 500;
    font-size: 20px;
}
